/* 1. Import font Montserrat dulu dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* 2. Import Tailwind v4 */
@import "tailwindcss";

/* 3. Definisikan token font di @theme */
@theme {
  --font-mont: "Montserrat", sans-serif;
}

html {
  @apply scroll-smooth;
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 3s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
